<p>
  general works!
</p>

<form [formGroup]="formGroup" (submit)="kirimData()">
  <div formGroupName="gender">
    <label>
      <input type="radio" name="selectName" formControlName="selectName" value="1">
      L
    </label>
    <label>
      <input type="radio" name="selectName" formControlName="selectName" value="2">
      P
    </label>
  </div>
  <div formGroupName="radio1">
    Details
    <label>
      <input type="radio" formControlName="id" value="On">
      L
    </label>
    <label>
      <input type="radio" formControlName="id" value="Off">
      P
    </label>
  </div>
  <div formGroupName="radio2">
    Details
    <label>
      <input type="radio" formControlName="id" value="On">
      L
    </label>
    <label>
      <input type="radio" formControlName="id" value="Off">
      P
    </label>
  </div>
  <div>
    <button type="submit">Klik</button>
  </div>
</form>
